tests/orourke
tests/orourke_speed
venv/
experiments/exp1/exp1
experiments/exp2/exp2
results/
figures/
.claude/
__pycache__/
experiments/exp3/exp3
experiments/exp4/exp4
tests/pma
tests/pma_resized
tests/lpma

